body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui.segment.componentSegment {
  height: 500px;
  position: relative;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

.segmentText {
  display: flex;
  align-items: flex-start;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.segmentText__innerContainer {
  height: 500px;
  overflow: hidden;
  overflow-y: auto;
  padding: 15px;
}

.segmentText__innerContainer::-webkit-scrollbar {
  width: 10px;
}

.segmentText__innerContainer::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.segmentText__innerContainer::-webkit-scrollbar-thumb {
  background: #b55b81;
}

.segmentText__innerText {
  padding: 25px 40px 25px 25px;
}

.menuWrapper {
  padding: 5px 0 0 0;
  background-color: transparent;
  border-radius: 0 0 20px 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuWrapper .iconCircleWrapper {
  width: 80px;
  height: 60px;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 19px;
}

.menuWrapper .iconInnerCircleWrapper {
  width: 50px;
  height: 50px;
  position: relative;
  top: -21.5px;
  left: 15px;
  border-radius: 50px;
  z-index: 1;
  box-shadow: -45.3px 21.3px 0 #ffffff, 45.3px 21.3px 0 #ffffff,
    0 20px 0 #ffffff;
}

.menuWrapper .iconInnerCircleWrapper:before {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 100px;
  height: 30px;
  top: 55px;
  left: -20px;
}

.menuWrapper .iconCircle {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background: #ffffff;
  border: 1px solid #b55b81;
}

.iconCircle:before {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 1440px;
  height: 60px;
  top: 15.5px;
  left: -1465px;
}

.iconCircle:after {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 1440px;
  height: 60px;
  top: 15.5px;
  left: 60px;
}

.ui.menu.indexMenu {
  background-color: transparent;
  border-radius: 0 0 20px 20px;
  border: none;
}

.ui.menu.indexMenu a:last-child {
  border-radius: 0 0 20px 0;
}

.ui.menu.indexMenu a:first-child {
  border-radius: 0 0 0 20px;
}

.ui.menu.indexMenu:not(.active.item) {
  overflow: hidden;
}

.ui.menu .item {
  transition: all 0.5s ease-in-out;
  height: 60px;
  min-width: 80px;
  justify-content: center;
  padding: 5px;
  flex-direction: column;
}

.item span {
  z-index: 5;
}

.ui.menu .item:before {
  display: none;
}

.ui.menu .item i.iconWrapper {
  transition: all 0.5s ease-in-out;
  padding: 15px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #297b48;
  z-index: 2;
}

.ui.menu .active.item {
  background: transparent;
}

.ui.menu .active.item:hover {
  background: transparent !important;
}

.ui.menu .active.item .iconWrapper {
  transform: translateY(-20px) scale(1.5);
  color: #b55b81;
}
